body {
    height: 100vh;
    width: 100vw;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 200px;
    width: 350px;
}

.container {
    display: grid;
    grid-template-columns: [column-one] fit-content(600px) [column-two] 1fr [column-three] 1fr [column-four] fit-content(600px);
    grid-template-rows:
        [row-one] 75px [row-two] 50px [row-three] 90% [row-four] 1fr [row-five] 1fr;
}

.header {
    color: rgb(1, 22, 49);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42pt;
    grid-column: column-one / column-four;
    grid-row: row-one;
    width: 100%;
    text-align: center;
}

.subheader {
    color: rgb(1, 22, 49);
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 32pt;
    margin-top: -5px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    grid-column: column-one / column-four;
    grid-row: row-two;
    width: 100%;
    text-align: center;
}

.data-text-one {
    height:50%;
}

.data-comparison-one {
    grid-column: column-one / column-two;
    grid-row: row-three / row-four;
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.orange-virus {
    color: rgb(232, 93, 38);
    float: left;
    padding-right: 15px;
    padding-top: 70px;
}

.paragraph-one {
    border-left: 2px solid rgb(232, 93, 38);
    border-collapse: separate;
    width: 325px;
    border-spacing: 50px;
    padding-left: 10px;
}

.data-comparison-two {
    grid-column: column-three / column-four;
    grid-row: row-three / row-four;
    height: 50%;
    width: 75%;
    display: flex;
    margin-top: 18px;
    margin-left:-50px;
}

.data-text-two {
    height:75%;
}

.yellow-virus {
    color: rgb(246, 189, 96);
    float: left;
    padding-right: 15px;
    padding-top: 70px;
}

.paragraph-two {
    border-left: 2px solid rgb(246, 189, 96);
    border-collapse: separate;
    width: 325px;
    border-spacing: 50px;
    padding-left: 10px;
}

.data-comparison-three {
    grid-column: 1 / 2;
    grid-row: row-four / row-five;
    margin-top: -120px;
    height: auto;
    width: 100%;
    display: flex;
}

.navy-virus {
    color: rgb(61, 90, 128);
    padding-right: 15px;
    padding-top: 70px;
    float: left;
}

.paragraph-three {
    border-left: 2px solid rgb(61, 90, 128);
    border-collapse: separate;
    width: 325px;
    border-spacing: 50px;
    padding-left: 10px;
}

.data-comparison-four {
    grid-column: column-three / column-four;
    grid-row: row-four / row-five;
    margin-top: -120px;
    height: 50%;
    width: 75%;
    display: flex;
    margin-left:-50px;
}

.blue-virus {
    color: rgb(152, 193, 217);
    padding-right: 15px;
    padding-top: 70px;
    float: left;
    width:146;
}

.paragraph-four {
    border-left: 2px solid rgb(152, 193, 217);
    border-collapse: separate;
    width: 325px;
    border-spacing: 50px;
    padding-left: 10px;
}

svg {
    font-size: 52px;
    fill: #011631;
    font-family: 'Montserrat', sans-serif;
}

.total-vaccines {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    width: 100%;
    height:auto;
    display: flex;
}
