body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(1, 22, 49);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    font-size: 42pt;
    height: 82px;
    width: 100%;
    max-width: 1672px;
    margin-bottom: 4px;
    letter-spacing: 2px;
}

h2 {
    color: rgb(1, 22, 49);
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    font-size: 32pt;
    margin-top: -5px;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
    padding-bottom: 5px;

}


p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 200px;
    width: 250px;
}

/*
.blue-virus {
    color: rgb(152, 193, 217);
}

.navy-virus {
    color: rgb(61, 90, 128);
}

.yellow-virus {
    color: rgb(246, 189, 96);
}
*/



/*.data-info{
    float:left;
}*/

.data-comparison-one {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;*/
    height: 100px;
    width: 100%;
    transform: translate(150px, -150px);
    display:inline-block;
    /*margin-top: 100px;
    margin-left: -10px;*/
}



.data-text-one {
    border-left: 2px solid rgb(232, 93, 38);
    border-collapse: separate;
    border-spacing: 50px;
    padding-left: 10px;
    margin-bottom: -45px;
    padding-bottom: -45px;
}


.orange-virus {
    color: rgb(232, 93, 38);
    width: 100%;
    transform: translate(-100px,150px);
    display:inline-block;
}

.data-comparison-two {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;*/
    height: 100px;
    width: 100%;
    transform: translate(1450px, -450px);
    display:inline-block;
    /*margin-left: 800px;
    margin-right: 10px;
    padding-right: 15px;
    margin-top: -100px;*/
}


.data-text-two {
    border-left: 2px solid rgb(246, 189, 96);
    border-collapse: separate;
    border-spacing: 50px;
    padding-left: 10px;
    margin-bottom: -45px;
    padding-bottom: -45px;
}

.yellow-virus {
    color: rgb(246, 189, 96);
    width: 100%;
    transform: translate(-100px, 175px);
    display:inline-block;
    /*padding-right: 10px;
    margin-right: 10px;
    order: -1;*/
}

.data-comparison-three {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;*/
    height: 100px;
    width: 100%;
    transform: translate(150px, -350px);
    display:inline-block;
    /*margin-top: 600px;
    margin-left: -50px;*/
}


.data-text-three {
    border-left: 2px solid rgb(61, 90, 128);
    border-collapse: separate;
    border-spacing: 50px;
    padding-left: 10px;
    margin-bottom: -45px;
    padding-bottom: -45px;
    padding-right: -100px;
    margin-right: -100px;
    width: 100%;
}

.navy-virus {
    color: rgb(61, 90, 128);
    width: 100%;
    transform: translate(-100px,150px);
    display:inline-block;
    /* margin-left: 75px;
    margin-right: -50px;
    margin-top: 75px;
    order: -1;*/
}

.data-comparison-four {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;*/
    height: 100px;
    width: 100%;
    transform: translate(1450px, -620px);
    display:inline-block;
    /*margin-top: 100px;
    margin-left: -10px;*/
}



.data-text-four {
    border-left: 2px solid rgb(152, 193, 217);
    border-collapse: separate;
    border-spacing: 50px;
    padding-left: 10px;
    margin-bottom: -45px;
    padding-bottom: -45px;
}


.blue-virus {
    color: rgb(152, 193, 217);
    width: 100%;
    transform: translate(-125px, 175px);
    display:inline-block;
    /*padding-left: 30px;
    margin-left: 30px;
    margin-right: -50px;
    margin-top: 25px;
    order: -1;*/
}

.total-vaccines {
    height: 100px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    transform: translate(-25px, -900px);
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;*/
    /*margin-top: -200px;
    margin-left: -200px;*/
}
